#textdomain wesnoth-Saga_of_James

[scenario]
  id=07_Return
  name=_"Return"
  next_scenario=08_A_New_Mission
  map_file=~add-ons/Saga_of_James/volume1/maps/07_Return.map
  turns=-1
  carryover_percentage=40
  carryover_add=yes
  {INTRO_AND_SCENARIO_MUSIC nunc_dimittis.ogg journeys_end.ogg}
  {EXTRA_SCENARIO_MUSIC the_deep_path.ogg}
  {EXTRA_SCENARIO_MUSIC transience.ogg}
  {STORY7}
  victory_when_enemies_defeated=no
  {DEFAULT_SCHEDULE}

  [side]
    side=1
    controller=human
    team_name=villagers
    user_team_name= _ "team_name^Villagers"

    type=Plain_Mage
    id=James
    name=_"James"
    gender=male
    canrecruit=yes
    unrenamable=yes

    {FLAG_VARIANT loyalist}
    recruit=Peasant,Woodsman

    {GOLD4 70 60 50 50}
    income=-2

    fog=yes
    shroud=no
  [/side]
  {STARTING_VILLAGES 1 4}

  [side]
    side=2
    controller=ai
    team_name=villagers
    user_team_name= _ "team_name^Villagers"

    type=Lieutenant
    id=Ligwyn
    name=_"Ligwyn"
    gender=male
    canrecruit=yes

    {FLAG_VARIANT loyalist}
    recruit=Spearman,Bowman,Poacher

    gold=1
    income=-2

    fog=yes
    shroud=no
    share_view=no
  [/side]
  {STARTING_VILLAGES 2 2}

  [side]
    side=3
    controller=ai
    team_name=undead
    user_team_name= _ "team_name^Undead"
    hidden=yes

    type=Death Baron
    id=DeathBaron
    canrecruit=yes

    {FLAG_VARIANT undead}
    recruit=Skeleton,Skeleton Archer,Skeleton Rider,Walking Corpse

    gold=1
    income=-2
  [/side]
  {STARTING_VILLAGES 3 4}

  [event]
    name=prestart
    {VARIABLE progress 1}
    {VARIABLE village_entered no}
    [objectives]
      side=1
      [objective]
        description= _ "Enter the village with a village hunter"
        condition=win
        [show_if]
          [variable]
            name=village_entered
            equals=no
          [/variable]
        [/show_if]
      [/objective]
      [objective]
        description= _ "Defeat all enemies"
        condition=win
        [show_if]
          [variable]
            name=progress
            equals=2
          [/variable]
          [have_unit]
            side=2
          [/have_unit]
        [/show_if]
      [/objective]
      [objective]
        description= _ "Death of James"
        condition=lose
        [show_if]
          [variable]
            name=progress
            equals=2
          [/variable]
        [/show_if]
      [/objective]
      [objective]
        description= _ "Death of Belinda"
        condition=lose
        [show_if]
          [variable]
            name=progress
            equals=2
          [/variable]
        [/show_if]
      [/objective]
      [objective]
        description= _ "Death of Edgar"
        condition=lose
        [show_if]
          [variable]
            name=progress
            equals=2
          [/variable]
        [/show_if]
      [/objective]
      [objective]
        description= _ "Death of any village hunter"
        condition=lose
        [show_if]
          [variable]
            name=progress
            equals=2
          [/variable]
        [/show_if]
      [/objective]
      {TURNS_RUN_OUT}
      [+objective]
        [show_if]
          [variable]
            name=progress
            equals=2
          [/variable]
        [/show_if]
      [/objective]
      [gold_carryover]
        bonus=yes
        carryover_percentage=40
      [/gold_carryover]
    [/objectives]
  [/event]

  [event]
    name=start
    {RECALL_SUPPORTER}
    {RECALL_HEROES}
    [recall]
      id=hunters_leader
    [/recall]
    [message]
      speaker=James
      message=_"Uh, uh. I could use a little break, I am not really used to long treks. ... Oh, it looks like it started to snow, I did not notice it."
    [/message]
    [message]
      speaker=Belinda
      message=_"Oh, you're right, I didn't notice either. And by the way, how long is it to your village, James?"
    [/message]
    [message]
      speaker=James
      message=_"Let me see ... well, we are quite close, we should reach it in less than two hours."
    [/message]
    [message]
      speaker=Belinda
      message=_"Good, good. And how are you feeling now, James? Can you continue?"
    [/message]
    [message]
      speaker=James
      message=_"Ah, yes, I feel better, thank you. Alright, let us go, everyone, we are almost there."
    [/message]
  [/event]

  [event]
    name=sighted
    [filter]
      side=3
    [/filter]
    [filter_second]
      side=1
    [/filter_second]
    {INCIDENTAL_MUSIC the_city_falls.ogg}
    {GENERIC_UNIT 2 Spearman 17 27}
    {GENERIC_UNIT 2 Spearman 18 26}
    {GENERIC_UNIT 2 Poacher 19 27}
    {GENERIC_UNIT 3 (Bone Knight) 16 15}
    {GENERIC_UNIT 3 Revenant 18 15}
    {GENERIC_UNIT 3 Revenant 16 16}
    {GENERIC_UNIT 3 Soulless 18 16}
    {GENERIC_UNIT 3 Soulless 17 17}
    [unit]
      side=1
      type=Warmaster
      x,y=17,28
      id=Edgar
      name= _ "Edgar"
      unrenamable=yes
      facing=nw
      [modifications]
        {TRAIT_LOYAL}
        {TRAIT_FEARLESS}
      [/modifications]
      {IS_LOYAL}
      {IS_HERO}
    [/unit]
    [if]
      [variable]
        name=second_unit.id
        equals=James
      [/variable]
      [then]
        [message]
          speaker=James
          message=_"Lords of Light, this cannot be happening. I do not believe my eyes."
        [/message]
        [message]
          speaker=Belinda
          message=_"What is wrong, James? ... Oh my, what are those things?"
        [/message]
      [/then]
      [else]
        [message]
          speaker=second_unit
          message=_"Lords of Light, what is going on here?"
        [/message]
      [/else]
    [/if]
    [scroll_to_unit]
      id=DeathBaron
    [/scroll_to_unit]
    [delay]
      time=500
    [/delay]
    [message]
      speaker=James
      message=_"This is our village's graveyard and it looks like our dead started to come out of their graves. It has to be work of a necromancer but why would they be interested in our little village?"
    [/message]
    [scroll_to_unit]
      id=Ligwyn
    [/scroll_to_unit]
    [delay]
      time=100
    [/delay]
    [modify_side]
      side=2
      {GOLD4 90 75 60 60}
      {INCOME4 1 -1 -1 -1}
      share_view=yes
    [/modify_side]
    [modify_side]
      side=3
      hidden=no
      {GOLD4 130 150 170 170}
      {INCOME4 -1 0 1 1}
    [/modify_side]
    [message]
      speaker=Ligwyn
      message=_"What's that, next undead? ... Oh, it's you, James. What took you so long? Well, I guess I can hear that later. For now, we need your help once again. You see, our dead have risen from their graves, we need to put them back. Will you help us, please?"
    [/message]
    [message]
      speaker=James
      message=_"Of course, Captain. Actually, my magic could be put to good use here."
    [/message]
    [scroll_to_unit]
      id=Edgar
    [/scroll_to_unit]
    [delay]
      time=500
    [/delay]
    [message]
      speaker=James
      message=_"Oh, hail, Edgar. I see that you are still here."
    [/message]
    [message]
      speaker=Edgar
      message=_"Hi, brother. Of course I'm here. My home village is under attack and I'm a soldier. Where else should I be?"
    [/message]
    [message]
      speaker=James
      message=_"Sure, sure, I was just surprised to see you."
    [/message]
    [message]
      speaker=Edgar
      message=_"Oh and I see you've brought a lady friend with you. What is her name?"
    [/message]
    [message]
      speaker=James
      message=_"It is Belinda, Edgar. Belinda, this is my elder brother Edgar."
    [/message]
    [message]
      speaker=Belinda
      message=_"Nice to meet you, Edgar."
    [/message]
    [message]
      speaker=Edgar
      message=_"Pleased to meet you too. Maybe we could ..."
    [/message]
    [message]
      speaker=Belinda
      message=_"Get back to the battle? Of course."
    [/message]
    [message]
      speaker=Edgar
      message=_"That's not what I meant but sure. Let's fight these undead."
    [/message]
    {VARIABLE progress 2}
    [show_objectives]
    [/show_objectives]
    {REPLACE_SCENARIO_MUSIC battle.ogg}
    {APPEND_MUSIC frantic.ogg}
    {APPEND_MUSIC siege_of_laurelmor.ogg}
    {APPEND_MUSIC into_the_shadows.ogg}
  [/event]

  [event]
    name=moveto
    [filter]
      side=1
      [filter_wml]
        [variables]
          village_hunter=yes
        [/variables]
      [/filter_wml]
      x=12-20,14-20,16-20,18-20,20
      y=24-35,23,22,21,20
    [/filter]
    {VARIABLE village_entered yes}
    [message]
      speaker=unit
      message=_"Ah, it's so nice to be in my village again. Thanks, James, for saving us and bringing us home."
    [/message]
    [message]
      speaker=James
      message=_"Oh, it was nothing, really."
    [/message]
    [if]
      [have_unit]
        side=3
        count=0
      [/have_unit]
      [then]
        [message]
          speaker=Ligwyn
          message=_"Excellent. James, please, come to me. We have something to talk about."
        [/message]
        [endlevel]
          result=victory
        [/endlevel]
      [/then]
      [else]
        [message]
          speaker=Ligwyn
          message=_"It's nice to have you all back but there is still a battle to fight. Help us defeat these abominations."
        [/message]
        [message]
          speaker=unit
          message=_"As you say, Captain."
        [/message]
        [show_objectives]
        [/show_objectives]
      [/else]
    [/if]
  [/event]

  [event]
    name=die
    first_time_only=no
    [filter]
      side=3
    [/filter]
    [message]
      speaker=second_unit
      message=_"And that was the last one, they are all back under the ground."
    [/message]
    [if]
      [have_unit]
        side=3
        count=0
      [/have_unit]
      [variable]
        name=village_entered
        equals=yes
      [/variable]
      [then]
        [message]
          speaker=Ligwyn
          message=_"Nice job, people. James, please, come to me. We have something to talk about."
        [/message]
        [endlevel]
          result=victory
        [/endlevel]
      [/then]
      [else]
        [message]
          speaker=Ligwyn
          message=_"Nice job, people but where are the hunters, James?"
        [/message]
        [message]
          speaker=James
          message=_"They are on their way here, Captain. They should be in the village in a few minutes."
        [/message]
        [show_objectives]
        [/show_objectives]
      [/else]
    [/if]
  [/event]

  [event]
    name=victory
    [store_unit]
      [filter]
        id=Ligwyn
      [/filter]
      variable=ligwyn_store
      kill=no
    [/store_unit]
    {MOVE_UNIT id=James $ligwyn_store.x $ligwyn_store.y}
    [message]
      speaker=James
      message=_"I am here, Captain. What did you want to talk about?"
    [/message]
    [message]
      speaker=Ligwyn
      message=_"I want a report on your previous mission, James. Especially I want to know what took you so long and who is that woman who arrived with you."
    [/message]
    [message]
      speaker=James
      message=_"Ah, yes, of course. Well, the road was not as clear as we expected. There were more bandits in the woods, from the band that attacked us. They were led by the former leader's brother. With some luck we eventually defeated them. But as we went further, we encountered some elves who were attacked by orcs."
    [/message]
    [message]
      speaker=Ligwyn
      message=_"So you were right about the bandits. Sorry for not believing you back then. And about the orcs, well, I know that they too make raids on our settlements but it seems that they go still deeper into our lands."
    [/message]
    [message]
      speaker=James
      message=_"And that is not the whole story. Not only they make raids, they even conquered some villages. Like the one which our hunters visited."
    [/message]
    [message]
      speaker=Ligwyn
      message=_"Lords of Light! This is really bad. How did you make it out alive?"
    [/message]
    [message]
      speaker=James
      message=_"Well, we did not run out, we actually helped their hunters to drive them out. It was a really big and long battle but we actually emerged victorious."
    [/message]
    [message]
      speaker=Ligwyn
      message=_"Wow, just wow. I wouldn't think you'd fight them, let alone win. Congratulation. But I don't think they'll just give up, they'll probably just try harder. Maybe we should start preparing for their attack. Well, that was one thing. Now, who is that woman?"
    [/message]
    [message]
      speaker=James
      message=_"Oh, it is Belinda. She helped us a lot. She not only guided us in the woods but she is actually a really good fighter."
    [/message]
    [message]
      speaker=Ligwyn
      message=_"Well, then, she's welcome in our village. Now, if you excuse me, I got to go."
    [/message]
    [hide_unit]
      id=Ligwyn
    [/hide_unit]
    [store_unit]
      [filter]
        id=James
      [/filter]
      variable=james_store
      kill=no
    [/store_unit]
    {MOVE_UNIT id=Belinda $james_store.x $james_store.y}
    [message]
      speaker=Belinda
      message=_"So you all are home again."
    [/message]
    [message]
      speaker=James
      message=_"Ah, yes. Thank you, B-Belinda, for helping us. It was nice having you around."
    [/message]
    [message]
      speaker=Belinda
      message=_"I enjoyed it too. Actually, I don't want to leave now, I' d miss you so much. You're a good man and companion. I love you, James."
    [/message]
    [message]
      speaker=James
      message=_"You lo- ... Am I dreaming? ... Everything looks real. ... Well ... I-I ... love you too, Belinda. I want to stay with you for the rest of my days."
    [/message]
    [message]
      speaker=Edgar
      message={WHISPER _"Damn it, I never had a chance with this girl, did I? But I should probably be happy for James, I thought he's going to die like an old hermit."}
    [/message]
    [message]
      speaker=Belinda
      message=_"Oh, James ... I'll never leave you. I'll always love and honour you and stand by your side. Even after death do us part. (takes him by the hand and kisses him)"
    [/message]
    [message]
      speaker=James
      message=_"... (blushing deeply)"
    [/message]
    [message]
      speaker=Edgar
      message=_"I'm happy for you two. I wish I could stay but my vacation is officially long over. I'm just going to drop by our sister and parents, say my goodbyes and I'm on my way. So best of luck to you two and see you later."
    [/message]
    [message]
      speaker=James
      message=_"Thank you, Edgar and goodbye."
    [/message]
    [kill]
      id=Edgar
      animate=no
      fire_event=no
    [/kill]
    [kill]
      side=1
      [filter_wml]
        [variables]
          village_hunter=yes
        [/variables]
      [/filter_wml]
      animate=no
      fire_event=no
    [/kill]
    {CLEAR_VARIABLE progress,village_entered,ligwyn_store,james_store}
  [/event]

  [event]
    name=last breath
    [filter]
      id=James
    [/filter]
    [message]
      speaker=unit
      message=_"Farewell, the world."
    [/message]
    [message]
      speaker=Belinda
      message=_"James, no! I think ... I'll miss you."
    [/message]
    {DEFEAT}
  [/event]

  [event]
    name=die
    [filter]
      id=Ligwyn
    [/filter]
    [message]
      speaker=James
      message=_"Without the Captain, we all are as good as dead."
    [/message]
    {DEFEAT}
  [/event]

  [event]
    name=last breath
    [filter]
      id=Edgar
    [/filter]
    [message]
      speaker=unit
      message=_"So this is the end of my journey. I hope you you'll take care of this undead menace, brother."
    [/message]
    [message]
      speaker=James
      message=_"No, Edgar, do not die! I cannot continue without you."
    [/message]
    {DEFEAT}
  [/event]

  {BELINDAS_DEATH1}
  {SUPPORTERS_DEATH}
  {HUNTERS_DEATH}
[/scenario]
