#textdomain wesnoth-Saga_of_James

[textdomain]
  name="wesnoth-Saga_of_James"
  path="data/add-ons/Saga_of_James/translations"
[/textdomain]

#define SAGA_COMMON_STAFF
  [binary_path]
    path=data/add-ons/Saga_of_James/
  [/binary_path]
  [binary_path]
    path=data/add-ons/War_of_Legends
  [/binary_path]

  {~add-ons/Saga_of_James/mainline-strings.cfg}
  {~add-ons/Saga_of_James/macros}
  {~add-ons/War_of_Legends/macros}
#enddef

{~add-ons/Saga_of_James/volume1}
#{~add-ons/Saga_of_James/volume2}
#{~add-ons/Saga_of_James/volume3}
#{~add-ons/Saga_of_James/volume4}
#{~add-ons/Saga_of_James/test}

#ifdef EDITOR
[binary_path]
  path=data/add-ons/Saga_of_James/
[/binary_path]

{~add-ons/Saga_of_James/mainline-strings.cfg}
{~add-ons/Saga_of_James/macros}
{~add-ons/War_of_Legends/macros/animation-utils.cfg}

[units]
  {~add-ons/Saga_of_James/units/heroes}
  {~add-ons/Saga_of_James/units/human-outlaws}
  {~add-ons/Saga_of_James/units/human-mages}
  {~add-ons/Saga_of_James/units/monsters}
  {~add-ons/Saga_of_James/units/undead}
[/units]
#endif

#ifdef MULTIPLAYER
[binary_path]
  path=data/add-ons/Saga_of_James/
[/binary_path]

{~add-ons/Saga_of_James/mainline-strings.cfg}
{~add-ons/Saga_of_James/macros}
{~add-ons/War_of_Legends/macros/animation-utils.cfg}

[units]
  {~add-ons/Saga_of_James/units/heroes/Mystic.cfg}
  {~add-ons/Saga_of_James/units/human-mages}
[/units]
#endif

# wmllint: directory spellings Irdya Wesnoth Penrhyn Alduin
# wmllint: directory spellings James Belinda Cateline
# wmllint: directory spellings undead undeath dwarves orcs orcish nagas
# wmllint: directory spellings mage mages elementalist staves mana
# wmllint: directory spellings armoury ehm hehe ok uhm honoured warband

#undef SAGA_COMMON_STAFF
