#textdomain wesnoth-Saga_of_James
#Unit made by SomeOneNamedMe, modified by Elvish_Hunter
[unit_type]
  id=Gold Mage
  name= _ "Gold Mage"
  race=human
  gender=male,female
  image="units/human-magi/gold-mage.png"
  profile="portraits/humans/mage-silver.png"
  {MAGENTA_IS_THE_TEAM_COLOR}
  hitpoints=58
  movement_type=smallfoot
  movement=6
  experience=200
  [advancefrom]
    unit=Silver Mage
    experience=120
  [/advancefrom]
  level=4
  alignment=neutral
  advances_to=null
  {AMLA_DEFAULT}
  cost=65
  usage=mixed fighter
  description= _ "Amongst the various Magi orders, the Silver one is certain the most enigmatic, surpassed in its mysteriousity only by the Gold order. Only the best Silver Magi could aspire to become Gold Magi, and being one of them is perhaps an even greater honor than being a Great Mage.
Instead of focusing their studies on the brute force of their missiles, they follow a secret path of training, that leads them to learning better protection spells and improving their fighting technique, not forgetting their teleport spells.
Seeing one of them on the battlefield is an extremely rare event, that even most Wesnoth Kings  never witnessed. But when one of them appears, usually in times of dire need, their only presence is enough to panic the enemy troops; and, after having enlightened the field with their shining robes and their magic missiles, they vanish into aether, without leaving any trace of their presence, except in the memories and in the tales of the few people that seen them in action.

Gold magi are often more physically adept than other magi, and their skills are of undeniable use on the battlefield, if one can manage to induce the mage to apply them."+{SPECIAL_NOTES}+_"SPECIAL_NOTE^ Gold Magi are well-attuned to their magical natures and are highly resistant to non-physical damage."+{SPECIAL_NOTES_MAGICAL}+{SPECIAL_NOTES_TELEPORT}
  die_sound={SOUND_LIST:HUMAN_DIE}
  [portrait]
    size=400
    side="left"
    mirror="false"
    image="portraits/humans/transparent/mage-silver.png"
  [/portrait]
  [portrait]
    size=400
    side="right"
    mirror="true"
    image="portraits/humans/transparent/mage-silver.png"
  [/portrait]
  [abilities]
    {ABILITY_TELEPORT}
  [/abilities]
  [resistance]
    fire=50
    cold=50
  [/resistance]
  {DEFENSE_ANIM "units/human-magi/gold-mage-defend.png" "units/human-magi/gold-mage.png" {SOUND_LIST:HUMAN_OLD_HIT} }
  [attack]
    name=staff
    description={STR_STAFF}
    icon=attacks/staff-magic.png
    type=impact
    range=melee
    damage=9
    number=2
  [/attack]
  [attack]
    name=missile
    description={STR_MISSILE}
    icon=attacks/magic-missile.png
    type=fire
    range=ranged
    [specials]
      {WEAPON_SPECIAL_MAGICAL}
    [/specials]
    damage=11
    number=4
  [/attack]
  [attack_anim]
    [filter_attack]
      name=missile
    [/filter_attack]
    offset=0
    {MAGIC_MISSILE 14 -23}
    {MAGIC_MISSILE_STAFF_FLARE -750 600 14 -23}
    [frame]
      begin=-850
      end=-700
      image="units/human-magi/gold-mage-attack-magic1.png"
    [/frame]
    [frame]
      begin=-750
      end=-350
      image="units/human-magi/gold-mage-attack-magic2.png"
    [/frame]
    [if]
      hits=no
      [frame]
        begin=-400
        end=-100
        image="units/human-magi/gold-mage-attack-magic2.png"
        sound=magic-missile-1-miss.ogg,magic-missile-2-miss.ogg,magic-missile-3-miss.ogg
      [/frame]
    [/if]
    [else]
      hits=yes
      [frame]
        begin=-400
        end=-100
        image="units/human-magi/gold-mage-attack-magic2.png"
        sound=magic-missile-1.ogg,magic-missile-2.ogg,magic-missile-3.ogg,magic-missile-3.ogg
      [/frame]
    [/else]
    [frame]
      begin=-100
      end=100
      image="units/human-magi/gold-mage-attack-magic1.png"
    [/frame]
  [/attack_anim]
  [attack_anim]
    [filter_attack]
      name=staff
    [/filter_attack]
    [frame]
      begin=-250
      end=-200
      image="units/human-magi/gold-mage.png"
    [/frame]
    [frame]
      begin=-200
      end=-100
      image="units/human-magi/gold-mage-attack-staff1.png"
    [/frame]
    [if]
      hits=yes
      [frame]
        begin=-100
        end=100
        image="units/human-magi/gold-mage-attack-staff2.png"
        sound=staff.wav
      [/frame]
    [/if]
    [else]
      hits=no
      [frame]
        begin=-100
        end=100
        image="units/human-magi/gold-mage-attack-staff2.png"
        sound={SOUND_LIST:MISS}
      [/frame]
    [/else]
    [frame]
      begin=100
      end=175
      image="units/human-magi/gold-mage-attack-magic1.png"
    [/frame]
    [frame]
      begin=175
      end=250
      image="units/human-magi/gold-mage.png"
    [/frame]
  [/attack_anim]
  [animation]
    apply_to=pre_teleport
    start_time=-1200

    teleport_sparkle_1_start_time=-1200
    teleport_sparkle_2_start_time=-1000
    teleport_sparkle_3_start_time=-800

    [teleport_sparkle_1_frame]
      duration=800
      halo=misc/blank-hex.png:1,halo/gold-teleport-9.png,halo/gold-teleport-8.png,halo/gold-teleport-1.png,halo/gold-teleport-2.png,halo/gold-teleport-3.png,halo/gold-teleport-4.png,halo/gold-teleport-5.png,halo/gold-teleport-6.png,halo/gold-teleport-7.png,halo/gold-teleport-8.png,halo/gold-teleport-9.png,misc/blank-hex.png:1
      halo_x=-10
      halo_y=30~-30
    [/teleport_sparkle_1_frame]
    [teleport_sparkle_2_frame]
      duration=800
      halo=misc/blank-hex.png:1,halo/gold-teleport-9.png,halo/gold-teleport-8.png,halo/gold-teleport-1.png,halo/gold-teleport-2.png,halo/gold-teleport-3.png,halo/gold-teleport-4.png,halo/gold-teleport-5.png,halo/gold-teleport-6.png,halo/gold-teleport-7.png,halo/gold-teleport-8.png,halo/gold-teleport-9.png,misc/blank-hex.png:1
      halo_x=0
      halo_y=40~-40
    [/teleport_sparkle_2_frame]
    [teleport_sparkle_3_frame]
      duration=800
      halo=misc/blank-hex.png:1,halo/gold-teleport-9.png,halo/gold-teleport-8.png,halo/gold-teleport-1.png,halo/gold-teleport-2.png,halo/gold-teleport-3.png,halo/gold-teleport-4.png,halo/gold-teleport-5.png,halo/gold-teleport-6.png,halo/gold-teleport-7.png,halo/gold-teleport-8.png,halo/gold-teleport-9.png,misc/blank-hex.png:1
      halo_x=10
      halo_y=30~-30
    [/teleport_sparkle_3_frame]

    [frame]
      duration=200
      image="units/human-magi/gold-mage-teleport-1.png"
    [/frame]
    [frame]
      duration=100
      image="units/human-magi/gold-mage-teleport-2.png"
    [/frame]
    [frame]
      duration=100
      image="units/human-magi/gold-mage-teleport-3.png"
    [/frame]
    [frame]
      duration=100
      image="units/human-magi/gold-mage-teleport-4.png"
    [/frame]
    [frame]
      duration=100
      image="units/human-magi/gold-mage-teleport-5.png"
    [/frame]
    [frame]
      duration=100
      image="units/human-magi/gold-mage-teleport-6.png"
    [/frame]
    [frame]
      duration=100
      image="units/human-magi/gold-mage-teleport-7.png"
    [/frame]
    [frame]
      duration=100
      image="units/human-magi/gold-mage-teleport-8.png"
    [/frame]
    [frame]
      duration=300
      image="misc/blank-hex.png"
    [/frame]
  [/animation]

  [animation]
    apply_to=post_teleport
    start_time=-1200

    teleport_sparkle_1_start_time=-1200
    teleport_sparkle_2_start_time=-1000
    teleport_sparkle_3_start_time=-800

    [teleport_sparkle_1_frame]
      duration=800
      halo=misc/blank-hex.png:1,halo/teleport-9.png,halo/teleport-8.png,halo/teleport-1.png,halo/teleport-2.png,halo/teleport-3.png,halo/teleport-4.png,halo/teleport-5.png,halo/teleport-6.png,halo/teleport-7.png,halo/teleport-8.png,halo/teleport-9.png,misc/blank-hex.png:1
      halo_x=10
      halo_y=-30~30
    [/teleport_sparkle_1_frame]
    [teleport_sparkle_2_frame]
      duration=800
      halo=misc/blank-hex.png:1,halo/teleport-9.png,halo/teleport-8.png,halo/teleport-1.png,halo/teleport-2.png,halo/teleport-3.png,halo/teleport-4.png,halo/teleport-5.png,halo/teleport-6.png,halo/teleport-7.png,halo/teleport-8.png,halo/teleport-9.png,misc/blank-hex.png:1
      halo_x=0
      halo_y=-40~40
    [/teleport_sparkle_2_frame]
    [teleport_sparkle_3_frame]
      duration=800
      halo=misc/blank-hex.png:1,halo/teleport-9.png,halo/teleport-8.png,halo/teleport-1.png,halo/teleport-2.png,halo/teleport-3.png,halo/teleport-4.png,halo/teleport-5.png,halo/teleport-6.png,halo/teleport-7.png,halo/teleport-8.png,halo/teleport-9.png,misc/blank-hex.png:1
      halo_x=-10
      halo_y=-30~30
    [/teleport_sparkle_3_frame]
    [frame]
      duration=300
      image="misc/blank-hex.png"
    [/frame]
    [frame]
      duration=100
      image="units/human-magi/gold-mage-teleport-8.png"
    [/frame]
    [frame]
      duration=100
      image="units/human-magi/gold-mage-teleport-7.png"
    [/frame]
    [frame]
      duration=100
      image="units/human-magi/gold-mage-teleport-6.png"
    [/frame]
    [frame]
      duration=100
      image="units/human-magi/gold-mage-teleport-5.png"
    [/frame]
    [frame]
      duration=100
      image="units/human-magi/gold-mage-teleport-4.png"
    [/frame]
    [frame]
      duration=100
      image="units/human-magi/gold-mage-teleport-3.png"
    [/frame]
    [frame]
      duration=100
      image="units/human-magi/gold-mage-teleport-2.png"
    [/frame]
    [frame]
      duration=200
      image="units/human-magi/gold-mage-teleport-1.png"
    [/frame]
  [/animation]
  [female]
    name= _ "female^Gold Mage"
    gender=female
    image="units/human-magi/gold-mage+female.png"
    profile="portraits/humans/mage-silver+female.png"
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    {DEFENSE_ANIM "units/human-magi/gold-mage+female-defend.png" "units/human-magi/gold-mage+female.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
    [portrait]
      size=400
      side="left"
      mirror="false"
      image="portraits/humans/transparent/mage-silver+female.png"
    [/portrait]
    [portrait]
      size=400
      side="right"
      mirror="true"
      image=" "
    [/portrait]
    [attack_anim]
      [filter_attack]
        name=missile
      [/filter_attack]
      offset=0
      {MAGIC_MISSILE 14 -23}
      {MAGIC_MISSILE_STAFF_FLARE -750 600 14 -23}
      [frame]
        image="units/human-magi/gold-mage+female-attack-magic1.png"
      [/frame]
      [frame]
        image="units/human-magi/gold-mage+female-attack-magic2.png"
      [/frame]
      [if]
        [frame]
          image="units/human-magi/gold-mage+female-attack-magic2.png"
        [/frame]
      [/if]
      [else]
        [frame]
          image="units/human-magi/gold-mage+female-attack-magic2.png"
        [/frame]
      [/else]
      [frame]
        image="units/human-magi/gold-mage+female-attack-magic1.png"
      [/frame]
    [/attack_anim]
    [attack_anim]
      [filter_attack]
        name=staff
      [/filter_attack]
      [frame]
        image="units/human-magi/gold-mage+female.png"
      [/frame]
      [frame]
        image="units/human-magi/gold-mage+female-attack-staff1.png"
      [/frame]
      [if]
        [frame]
          image="units/human-magi/gold-mage+female-attack-staff2.png"
        [/frame]
      [/if]
      [else]
        [frame]
          image="units/human-magi/gold-mage+female-attack-staff2.png"
        [/frame]
      [/else]
      [frame]
        image="units/human-magi/gold-mage+female-attack-magic1.png"
      [/frame]
      [frame]
        image="units/human-magi/gold-mage+female.png"
      [/frame]
    [/attack_anim]
    [animation]
      apply_to=pre_teleport
      [frame]
        image="units/human-magi/gold-mage+female-teleport-1.png"
      [/frame]
      [frame]
        image="units/human-magi/gold-mage+female-teleport-2.png"
      [/frame]
      [frame]
        image="units/human-magi/gold-mage+female-teleport-3.png"
      [/frame]
      [frame]
        image="units/human-magi/gold-mage+female-teleport-4.png"
      [/frame]
      [frame]
        image="units/human-magi/gold-mage+female-teleport-5.png"
      [/frame]
      [frame]
        image="units/human-magi/gold-mage+female-teleport-6.png"
      [/frame]
      [frame]
        image="units/human-magi/gold-mage+female-teleport-7.png"
      [/frame]
      [frame]
        image="units/human-magi/gold-mage+female-teleport-8.png"
      [/frame]
      [frame]
      [/frame]
    [/animation]

    [animation]
      apply_to=post_teleport
      [frame]
      [/frame]
      [frame]
        image="units/human-magi/gold-mage+female-teleport-8.png"
      [/frame]
      [frame]
        image="units/human-magi/gold-mage+female-teleport-7.png"
      [/frame]
      [frame]
        image="units/human-magi/gold-mage+female-teleport-6.png"
      [/frame]
      [frame]
        image="units/human-magi/gold-mage+female-teleport-5.png"
      [/frame]
      [frame]
        image="units/human-magi/gold-mage+female-teleport-4.png"
      [/frame]
      [frame]
        image="units/human-magi/gold-mage+female-teleport-3.png"
      [/frame]
      [frame]
        image="units/human-magi/gold-mage+female-teleport-2.png"
      [/frame]
      [frame]
        image="units/human-magi/gold-mage+female-teleport-1.png"
      [/frame]
    [/animation]
  [/female]
[/unit_type]
